---
import GithubUsername from './GithubUsername.astro'
---
<!--
    Add your name below! Simply copy+paste the following, fill in, and add to the top of the list. <3
 -->
 

<GithubUsername is="EricSimons">
    This thing is so cool. I love it!

    I love that i can see myself typing <a href="#">live</a>.
</GithubUsername>

<GithubUsername is="sulco">
    So excited to see this finally shipped!
</GithubUsername>