---
import Developer from './Developer.astro';
---
<a href="https://github.com/stackblitz/ilovecodeflow.com/edit/main/src/pages/DeveloperLove.astro">Add your name!</a>
<!--
    Add your name below! Simply copy+paste the following, fill in, and add to the top of the list. <3

<Developer
    githubUsername="your-github-name"
    whyYouLoveCodeflow="Some nice words" />
 -->

<Developer
    githubUsername="EricSimons"
    whyYouLoveCodeflow="Because I can't wait to context switch" />

<Developer
    githubUsername="donmckenna"
    whyYouLoveCodeflow="I love this thing" />