
  /*==========  Structure  ==========*/
  .btn-push {
    position: relative;
    top: 0px;
    font-weight: bolder;
    text-decoration: none;
    font-size: 18px;
    background: #f7f7f7;
    padding: 10px 30px;
    margin: 0 10px;
    border: 1px solid #c4c4c4;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 5px 0px #c4c4c4;
    -moz-box-shadow: 0px 5px 0px #c4c4c4;
    -ms-box-shadow: 0px 5px 0px #c4c4c4;
    -o-box-shadow: 0px 5px 0px #c4c4c4;
    box-shadow: 0px 5px 0px #c4c4c4;
    color: #222;
    text-shadow: 1px 1px 1px #fff;
    -webkit-transition: All 250ms ease;
    -moz-transition: All 250ms ease;
    -o-transition: All 250ms ease;
    -ms-transition: All 250ms ease;
    transition: All 250ms ease;
  }
  /*==========  Active State  ==========*/
  .btn-push:active {
    position: relative;
    top: 5px;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -ms-box-shadow: none !important;
    -o-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transition: All 250ms ease;
    -moz-transition: All 250ms ease;
    -o-transition: All 250ms ease;
    -ms-transition: All 250ms ease;
    transition: All 250ms ease;
  }
  /*==========  Navy  ==========*/
  .btn-push.navy {
    background: #1b486d;
    border: 1px solid #07121b;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 5px 0px #07121b;
    -moz-box-shadow: 0px 5px 0px #07121b;
    -ms-box-shadow: 0px 5px 0px #07121b;
    -o-box-shadow: 0px 5px 0px #07121b;
    box-shadow: 0px 5px 0px #07121b;
    color: #fff;
    text-shadow: 1px 1px 1px #07121b;
  }
  /*==========  Green  ==========*/
  .btn-push.green {
    background: #7cc576;
    color: #fff;
    border: 1px solid #46963f;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 5px 0px #46963f;
    -moz-box-shadow: 0px 5px 0px #46963f;
    -ms-box-shadow: 0px 5px 0px #46963f;
    -o-box-shadow: 0px 5px 0px #46963f;
    box-shadow: 0px 5px 0px #46963f;
    text-shadow: 1px 1px 1px #46963f;
  }
  /*==========  Red  ==========*/
  .btn-push.red {
    background: #df4242;
    color: #fff;
    border: 1px solid #a01b1b;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 5px 0px #a01b1b;
    -moz-box-shadow: 0px 5px 0px #a01b1b;
    -ms-box-shadow: 0px 5px 0px #a01b1b;
    -o-box-shadow: 0px 5px 0px #a01b1b;
    box-shadow: 0px 5px 0px #a01b1b;
    text-shadow: 1px 1px 1px #a01b1b;
  }
  /*==========  Blue  ==========*/
  .btn-push.blue {
    background: #2ec2dd;
    color: #fff;
    border: 1px solid #177c8e;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 5px 0px #177c8e;
    -moz-box-shadow: 0px 5px 0px #177c8e;
    -ms-box-shadow: 0px 5px 0px #177c8e;
    -o-box-shadow: 0px 5px 0px #177c8e;
    box-shadow: 0px 5px 0px #177c8e;
    text-shadow: 1px 1px 1px #177c8e;
  }
  /*==========  Orange  ==========*/
  .btn-push.orange {
    background: #f57936;
    color: #fff;
    border: 1px solid #bc4809;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 5px 0px #bc4809;
    -moz-box-shadow: 0px 5px 0px #bc4809;
    -ms-box-shadow: 0px 5px 0px #bc4809;
    -o-box-shadow: 0px 5px 0px #bc4809;
    box-shadow: 0px 5px 0px #bc4809;
    text-shadow: 1px 1px 1px #bc4809;
  }
  