---
import DeveloperLove from './DeveloperLove.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>I ❤️ Codeflow</title>
		<style>
			body {
				font-family: "Inter",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
			}
		</style>
	</head>
	<body>
		<h1>I love Codeflow.</h1>

		<h2><a href="https://pr.new/stackblitz/ilovecodeflow.com/edit/main/src/pages/DeveloperLove.astro">Add your name!</a></h2>

		<DeveloperLove />
	</body>
</html>
